@model istEncuestasMVC.Models.Empresa

@{
    ViewBag.Title = "Selección Empresa";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ingresa Empresa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @*@Html.LabelFor(model => model.RutEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RutEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RutEmpresa), id = "txtRutEmpresa" } })
                @Html.ValidationMessageFor(model => model.RutEmpresa, "", new { @class = "text-danger" })
            </div>
            <div id="divLoading"></div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.NombreEmpresa), id = "txtRazonSocial", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NombreEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Representante</h4>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepNombre, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RepNombre) } })
                @Html.ValidationMessageFor(model => model.RepNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepRut, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RepRut) } })
                @Html.ValidationMessageFor(model => model.RepRut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepCargo, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RepCargo) } })
                @Html.ValidationMessageFor(model => model.RepCargo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepTelefono, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RepTelefono) } })
                @Html.ValidationMessageFor(model => model.RepTelefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepEmail, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.RepEmail) } })
                @Html.ValidationMessageFor(model => model.RepEmail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" id="btnAceptarEmp" />
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atención!</h4>
            </div>
            <div class="modal-body">
                <p>Rut empresa no válido.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>               
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    <script type='text/javascript'>
        $(document).ready(function () {
            $('#txtRutEmpresa').focusout(function () {

                $("#divLoading").html('<image src="../img/ajax-loader.gif" alt="Loading, please wait" />');
                var url = '@Url.Action("RazonSocial", "Home")';
                var rut = $('#txtRutEmpresa').val();
                
                $.post(url, { rutempresa: rut }, function (data) {
                    
                    var razon = data['razonsocial'];
                    $('#txtRazonSocial').val(razon);
                    $("#divLoading").html('');
                });

            });


            $('#btnAceptarEmp').click(function () {

                var razsoc = $('#txtRazonSocial').val();
                if (razsoc == 'Sin Antecedentes') {
                    $('#myModal').modal('show');
                    return false;
                }
                if (razsoc == null) {
                    $('#myModal').modal('show');
                    return false;
                }
               
            });

    });

    </script>

}
