
@{
    ViewBag.Title = "ListDetalleSubFamilia";
}

@using istEncuestasMVC.Models;

@model IEnumerable<istEncuestasMVC.Models.Encuesta>

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Detalle Encuesta</h3>
    </div>

    <br />

    <div class="list-group">
        @foreach (var item in Model)
        {
            @*<button id="target" type="button" data-encuestaid="@item.Val_Par_Alf_Num" data-numpreg="@item.Num_Orden" class="list-group-item">@Html.DisplayFor(modelItem => item.Gls_Pregunta)</button>*@
            <h3>@Html.DisplayFor(modelItem => item.Gls_Pregunta)</h3>
        }
        
        <br />

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Siempre</button>
            <button type="button" class="btn btn-default">A veces</button>
            <button type="button" class="btn btn-default">Casi Siempre</button>
            <button type="button" class="btn btn-default">Nunca</button>
        </div>
           
        <br />

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
                2%
            </div>
        </div>

        <nav>
            <ul class="pager">
                <li><a href="#" id="btnAnterior">Anterior</a></li>
                <li><a href="@Url.Action("ListDetalleSubFamilia","Encuesta", new { iddet = 1, totnum = 2, preg = 2 })" id="btnSiguiente">Siguiente</a></li>
            </ul>
        </nav>

    </div>
    <br />
</div>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Volver</a></li>
        <li class="next"><a href="#">Adelante <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

