
@using istEncuestasMVC.Models;
@model IEnumerable<istEncuestasMVC.Models.Encuesta>

@{
    ViewBag.Title = "ListDetalleSubFamilia";
    var porcentaje = (ViewBag.pregunta * 100) / ViewBag.totpreg ;
    var min_width = string.Concat(porcentaje , "em");
    var width = string.Concat(porcentaje, "%");
    var cla = string.Concat("c100 p", porcentaje, " small center");

    //var countSE = ViewBag.CountSe;

}



<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Detalle Encuesta</h3>
    </div>

    <br />

    <div class="list-group"> 
        @foreach (var item in Model)
        {
            <h5>@Html.DisplayFor(modelItem => item.Num_Orden) .- @Html.DisplayFor(modelItem => item.Gls_Pregunta)</h5>
    
            ViewBag.grupoen = item.Val_Par_Alf_Num;
            ViewBag.idpregunta = item.Cod_Num;
            ViewBag.numorden = item.Num_Orden;
            
         }
        
        <h5>Aplica</h5>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="btnAplicaSi" data-numpreg="@ViewBag.idpregunta" class="btn btn-primary">Si</button>
            <button type="button" id="btnAplicaNo" data-numpreg="@ViewBag.idpregunta" class="btn btn-primary">No</button>            
        </div>
        
        <br />
        <h5>Cumple</h5>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="btnCumpleSi" data-numpreg="@ViewBag.idpregunta" class="btn btn-primary">Si</button>
            <button type="button" id="btnCumplePar" data-numpreg="@ViewBag.idpregunta" class="btn btn-primary">Parcial</button>
            <button type="button" id="btnCumpleNo" data-numpreg="@ViewBag.idpregunta" class="btn btn-primary">No</button>
        </div>

        <br />
        <br />
      
        
        <div class="clearfix">
           
            <div class="@cla">
                <span>@width</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            
        </div>
        
        <nav>
            <div class="row">
                <div class="col-xs-6" id="divAnterior">
                    <a href="@Url.Action("ListDetalleSubFamilia","Encuesta", new { idenc = ViewBag.encuestaid, idsubenc = ViewBag.subencid, totnum = ViewBag.totpreg, preg = ViewBag.numorden - 1 , contadorse = Session["ContadorSE"] })" id="btnAnterior"><span class="arrow-left"></span></a>
                </div>
                <div class="col-xs-6" id="divSiguiente">
                    <a href="@Url.Action("ListDetalleSubFamilia","Encuesta", new { idenc = ViewBag.encuestaid, idsubenc = ViewBag.subencid, totnum = ViewBag.totpreg, preg = ViewBag.numorden + 1 , contadorse = Session["ContadorSE"] })" id="btnSiguiente"><span class="arrow-right"></span></a>
                </div>
            </div>
        </nav>

    </div>
    <br />
</div>

@*<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Volver</a></li>
        <li class="next"><a href="#">Adelante <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>*@


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fin Encuesta</h4>
            </div>
            <div class="modal-body">
                <p>Ha finalizado encuesta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnFinEnc" class="btn btn-default" data-dismiss="modal">Finalizar</button>
                <button type="button" id="btnContEnc" data-encuestaid="@ViewBag.subencid" data-countse="@ViewBag.contadorse" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    <script type='text/javascript'>

        $(document).ready(function () {

            $('#btnCumpleSi').attr('disabled', true);
            $('#btnCumplePar').attr('disabled', true);
            $('#btnCumpleNo').attr('disabled', true);
            //$('#btnSiguiente').attr('disabled', true);
            //$('#divSiguiente').attr('disabled', true);
            $("#divSiguiente").children().prop('disabled', true);
            

            //$('#myModal').modal('show');

            var num_preg = parseInt(@ViewBag.pregunta);
            var tot_preg = parseInt(@ViewBag.totpreg);
            var grup_enc = parseInt(@ViewBag.grupoen);

            if (num_preg == 1) {
                $('#btnAnterior').attr('disabled', true);
            }



            $('.list-group-item-heading').click(function () {
                var eid = $(this).data('encuestaid');
                var url = '@Url.Action("SubFamilia", "Encuesta")';
                $.post(url, { encuestaid: eid }, function (response) {

                    window.location = response.url;
                });

            });


            $('#btnAplicaSi').click(function () {

                $('#btnCumpleSi').attr('disabled', false);
                $('#btnCumplePar').attr('disabled', false);
                $('#btnCumpleNo').attr('disabled', false);

                var cse = $(this).data('numpreg');
                $.ajax({
                    async: true,
                    type: "post",
                    url: "@Url.Action("ActualizaRespuesta", "Encuesta")",
                    data: { codnum: cse, resp: 1 }
                });

            });

            $('#btnAplicaNo').click(function () {

                $('#btnCumpleSi').attr('disabled', true);
                $('#btnCumplePar').attr('disabled', true);
                $('#btnCumpleNo').attr('disabled', true);

                var cse = $(this).data('numpreg');
                $.ajax({
                    async: true,
                    type: "post",
                    url: "@Url.Action("ActualizaRespuesta", "Encuesta")",
                    data: { codnum: cse, resp: 2 }
                });
            });

            $('#btnCumpleSi').click(function () {
                $('#btnSiguiente').attr('disabled', false);
                //debugger;
                var cse = $(this).data('numpreg');
                $.ajax({
                    async: true,
                    type: "post",
                    url: "@Url.Action("ActualizaRespuesta", "Encuesta")",
                    data: { codnum: cse, resp: 3 }
                });


            });

            $('#btnCumplePar').click(function () {
                $('#btnSiguiente').attr('disabled', false);
                var cse = $(this).data('numpreg');
                $.ajax({
                    async: true,
                    type: "post",
                    url: "@Url.Action("ActualizaRespuesta", "Encuesta")",
                    data: { codnum: cse, resp: 4 }
            });

            });

            $('#btnCumpleNo').click(function () {
                $('#btnSiguiente').attr('disabled', false);
                var cse = $(this).data('numpreg');
                $.ajax({
                    async: true,
                    type: "post",
                    url: "@Url.Action("ActualizaRespuesta", "Encuesta")",
                    data: { codnum: cse, resp: 5 }
            });

            });

            $('#btnSiguiente').click(function () {
                @*var url = '@Url.Action("ListDetalleSubFamilia", "Encuesta")';*@

                num_preg++;

                if (!(tot_preg >= num_preg)) {

                    $('#myModal').modal('show');
                    return false;
                }

            });

            $('#btnContEnc').click(function () {
                //debugger;
                var clks = parseInt(@Session["Click"]);
                var nse = parseInt(@Session["ContadorSE"]);
                var eid = $(this).data('encuestaid');
                var cse = $(this).data('countse');
                if (clks < nse) {
                    onsave(eid);
                } else {
                    onend(eid);
                }
                
            });

            $('#btnFinEnc').click(function () {

                var eid = $(this).data('encuestaid');
                onend(eid);
            });


        });

        function onsave(encid) {
            var url = '@Url.Action("SubFamilia", "Encuesta")';
            $.post(url, { encuestaid: encid, finalizada: "S"}, function (response) {
                window.location = response.url;
            });

        }

        function onend() {
            var url = '@Url.Action("FinIndex", "Encuesta")';
            $.post(url, function (response) {
                window.location = response.url;
            });
        }


    </script>

}