
@using istEncuestasMVC.Models;
@model IEnumerable<istEncuestasMVC.Models.Encuesta>

@{
    ViewBag.Title = "ListDetalleSubFamilia";
    var porcentaje = (ViewBag.pregunta * 100) / ViewBag.totpreg ;
    var min_width = string.Concat(porcentaje , "em");
    var width = string.Concat(porcentaje, "%");

}



<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Detalle Encuesta</h3>
    </div>

    <br />

    <div class="list-group"> 
        @foreach (var item in Model)
        {
            <h3>@Html.DisplayFor(modelItem => item.Num_Orden) .- @Html.DisplayFor(modelItem => item.Gls_Pregunta)</h3>
    
            ViewBag.grupoen = item.Val_Par_Alf_Num;
            ViewBag.idpregunta = item.Cod_Num;
            ViewBag.numorden = item.Num_Orden;
            
         }
        
        <h5>Aplica</h5>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="btnAplicaSi" class="btn btn-default">Si</button>
            <button type="button" id="btnAplicaNo" class="btn btn-default">No</button>            
        </div>
        
        <br />
        <h5>Cumple</h5>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="btnCumpleSi" class="btn btn-default">Si</button>
            <button type="button" id="btnCumplePar" class="btn btn-default">Parcial</button>
            <button type="button" id="btnCumpleNo" class="btn btn-default">No</button>
        </div>

        <br />
        <br />
      
        
        <div class="c100 p12 small">
            <span>12%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        

        <nav>
            <ul class="pager">
                <li><a href="@Url.Action("ListDetalleSubFamilia","Encuesta", new { iddet = ViewBag.grupoen, totnum = ViewBag.totpreg, preg = ViewBag.numorden - 1 })" id="btnAnterior">Anterior</a></li>
                <li><a href="@Url.Action("ListDetalleSubFamilia","Encuesta", new { iddet = ViewBag.grupoen, totnum = ViewBag.totpreg, preg = ViewBag.numorden + 1 })" id="btnSiguiente">Siguiente</a></li>
            </ul>
        </nav>

    </div>
    <br />
</div>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Volver</a></li>
        <li class="next"><a href="#">Adelante <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jqueryval")

    <script type='text/javascript'>

        $(document).ready(function () {

            $('#btnCumpleSi').attr('disabled', true);
            $('#btnCumplePar').attr('disabled', true);
            $('#btnCumpleNo').attr('disabled', true);

            $('.list-group-item-heading').click(function () {
                var eid = $(this).data('encuestaid');
                var url = '@Url.Action("SubFamilia", "Encuesta")';
                $.post(url, { encuestaid: eid }, function (response) {

                    window.location = response.url;
                    });

            });

            $('#btnAplicaSi').click(function () {
               
                $('#btnCumpleSi').attr('disabled', false);
                $('#btnCumplePar').attr('disabled', false);
                $('#btnCumpleNo').attr('disabled', false);
            });

            $('#btnAplicaNo').click(function () {
               
                $('#btnCumpleSi').attr('disabled', true);
                $('#btnCumplePar').attr('disabled', true);
                $('#btnCumpleNo').attr('disabled', true);
            });

        });

    </script>

}